---
layout: page
title: Blog
permalink: /blog/
data: blog
---
{%- if site.posts.size > 0 %}
<div class="post-list">
  {%- for post in site.posts %}
  <a class="post-item" href="{{ post.url | relative_url }}">
    <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
    <span class="post-main">
      <span class="post-title">{{ post.title }}</span>
      <span class="post-excerpt">{% if post.subtitle %}{{ post.subtitle }}{% else %}{{ post.excerpt | strip_html | truncatewords: 28 }}{% endif %}</span>
    </span>
  </a>
  {%- endfor %}
</div>
{%- else %}
<div class="empty">
  {% include icon.html name="pen" %}
  <div>{{ site.data.blog.empty_message | markdownify }}</div>
</div>
{%- endif %}
