---
layout: page
title: Publications
permalink: /publications/
data: publications
---
{%- assign papers = site.data.publications.papers -%}
{%- assign pre = papers | where: "type", "preprint" -%}
{%- assign conf = papers | where: "type", "conference" -%}
{%- assign jour = papers | where: "type", "journal" -%}
{%- if site.data.profile.google_scholar %}
<p class="page-actions"><a class="btn" href="{{ site.data.profile.google_scholar }}">{% include icon.html name="scholar" %}Google Scholar</a></p>
{%- endif %}
{%- if pre.size > 0 %}<h2 class="group-title">Preprints &amp; under review</h2><div class="pubs">{% for p in pre %}{% include pub.html pub=p %}{% endfor %}</div>{% endif %}
{%- if conf.size > 0 %}<h2 class="group-title">Conference papers</h2><div class="pubs">{% for p in conf %}{% include pub.html pub=p %}{% endfor %}</div>{% endif %}
{%- if jour.size > 0 %}<h2 class="group-title">Journal papers</h2><div class="pubs">{% for p in jour %}{% include pub.html pub=p %}{% endfor %}</div>{% endif %}
